# Example .env file

# Database URL
DATABASE_URL=''

# Coinbase Credentials
COINBASE_KEY_ID=''
WALLET_SECRET=''
ENCRYPTION_KEY=''
COINBASE_API_KEY=''
COINBASE_WEBHOOK_SECRET=''

# Platform Configuration
PLATFORM_OWNER_WALLET=''
BASE_RPC_URL=''
FRONTEND_URL=''

# JWT Configuration
JWT_SECRET=''

# Environment
NODE_ENV=''

# Port
PORT=3000